* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    width: 400px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h1 {
    font-size: 24px;
    margin-bottom: 7px;
}

#subtitle {
    color: gray;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 13px;
    font-size: 14px;
}

button#addBtn {
    padding: 10px 20px;
    background-color: #5400a2;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}

#emptyMsg {
    text-align: center;
    color: gray;
    font-size: 14px;
    padding: 30px;
    border: 2px dashed #ccc;
    border-radius: 15px;
    width: 100%;
}

.tarea-completada {
    text-decoration: line-through;
    color: #aaa;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 6px;
    margin-bottom: 8px;
    cursor: pointer;
}

#contador {
    text-align: right;
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}