* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    padding: 40px;
}

.container {
    background-color: white;
    border-radius: 12px;
    padding: 30px;
    width: 420px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    border-top: 4px solid #5400a2;
    border-bottom: 4px solid #5400a2;

}

h1 {
    font-size: 26px;
    margin-bottom: 4px;
    font-weight: bold;
}

#subtitle {
    color: gray;
    margin-bottom: 20px;
    font-size: 14px;
}

.input-area {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    outline: none;
}

button#addBtn {
    padding: 10px 20px;
    background-color: #5400a2;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

#emptyMsg {
    text-align: center;
    color: gray;
    font-size: 14px;
    padding: 30px;
    border: 2px dashed #ccc;
    border-radius: 8px;
    width: 100%;
}

.tarea-completada {
    text-decoration: line-through;
    color: #aaa;
}

#taskList li {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    gap: 10px;
}

#contador {
    text-align: right;
    font-size: 13px;
    color: gray;
    margin-top: 5px;
}

#taskList li::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 2px solid #ccc;
    flex-shrink: 0;
}

.tarea-completada::before {
    background-color: #5400a2;
    border-color: #5400a2;
}

.badge-new {
    font-size: 11px;
    background-color: #ede9fe;
    color: #4f46e5;
    padding: 2px 8px;
    border-radius: 10px;
    text-decoration: none !important;
    font-style: normal;
}

#taskList {
    list-style: none;
    margin-bottom: 10px;
}

#taskList li span.texto-tarea {
    flex: 1;
    font-size: 14px;
}

.tarea-completada span.texto-tarea {
    text-decoration: line-through;
    color: #aaa;
}

.btn-eliminar {
    background: none;
    border: none;
    color: #aaa;
    font-size: 18px;
    cursor: pointer;
    padding: 0 4px;
}

.barra {
    display: flex;
    gap: 6px;
    padding: 10px;
    background-color: #f5f5f5;
    border-radius: 12px 12px 0 0;
    border-bottom: 1px solid #eee;
    margin: -30px -30px 20px -30px;
}

.cir {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.rosa { background-color: #ed68e4; }
.amarillo { background-color: #eae675; }
.verde { background-color: #86f396; }